<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sistema_solar">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sistema_solar"
        tools:targetApi="31">

        <!-- Actividad principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Otras actividades -->
        <activity android:name=".GalaxiaActivity" android:exported="true" />
        <activity android:name=".SistemaSolarActivity" android:exported="true" />

        <!-- Actividades de cada planeta y la Luna -->
        <activity android:name=".SolActivity" android:exported="true"/>
        <activity android:name=".MercurioActivity" android:exported="true"/>
        <activity android:name=".VenusActivity" android:exported="true"/>
        <activity android:name=".TierraActivity" android:exported="true"/>
        <activity android:name=".LunaActivity" android:exported="true"/>
        <activity android:name=".MarteActivity" android:exported="true"/>
        <activity android:name=".JupiterActivity" android:exported="true"/>
        <activity android:name=".SaturnoActivity" android:exported="true"/>
        <activity android:name=".UranoActivity" android:exported="true"/>
        <activity android:name=".NeptunoActivity" android:exported="true"/>
    </application>

</manifest>

